@tailwind base;
@tailwind components;
@tailwind utilities;

.appheader {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(60, 135, 179, 0.4);
}

.menuandcontent {
  display: flex;
  gap: 1rem;
  height: 85vh;
}

.appfooter {
  display: flex;
  height: 5vh;
  background-color: rgb(72, 54, 208, 0.3);
  justify-content: space-around;
  align-items: center;
}

.pagecontent {
  padding-left: 1rem;
}
